<!--footer-->
<footer class="footer">
  <div class="footer-body container">
    <div class="footer-list">
      <div>
        <ul class="footer-nav">
          <li class="footer-item">
            <a class="footer-link" href="#">首頁</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">系列鏡框</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">門市據點</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">部落格</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">常見問題</a>
          </li>
        </ul>

        <ul class="footer-contact">
          <li>
            <img src="../assets/images/contact.svg" alt="" />
            <h2>0800-000-000</h2>
          </li>
          <li>
            <span class="material-icons-outlined"> mail </span>
            <!--<img src="../assets/images/phone.svg" alt="" />-->
            <h2>glasses@business.com</h2>
          </li>
        </ul>
      </div>

      <ul class="footer-icon">
        <li class="footer-icon-list">
          <a href="#">
            <img src="../assets/images/ic-social-fb.png" alt="facebook icon" />
          </a>
        </li>

        <li class="footer-icon-list">
          <a href="#">
            <img src="../assets/images/ic_social_ig.png" alt="instagram icon" />
          </a>
        </li>

        <li class="footer-icon-list">
          <a href="#">
            <img src="../assets/images/ic_social_line.png" alt="line icon" />
          </a>
        </li>
      </ul>
    </div>

    <ul class="footer-policy">
      <li>
        <p>
          <a href="#">Copyright © 2020 Glasses.All rights reserved.</a>
        </p>
      </li>
      <li class="footer-policy-list">
        <a href="#">隱私權政策</a>
        <a href="#">服務條款</a>
      </li>
    </ul>
  </div>
</footer>
