.header {
  background: $primary;
  color: $light;
  width: 100%;
  &-logo {
    padding: 12px 0;
    @include mobile {
      width: calc(100% - 24px);
    }
  }
  &-link {
    background-image: url(https://i.imgur.com/e2DcWQd.png);
    background-size: cover;
    width: 80px;
    height: 49px;
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
  &-nav {
    align-items: center;
    display: flex;
    @include mobile {
      flex-direction: column;
      padding: 0px;
    }
  }
  &-list {
    margin-left: auto;
    display: flex;
    @include mobile-larger {
      width: 100%;
      text-align: right;
    }
    @include mobile {
      flex-wrap: wrap;
      text-align: center;
    }
  }
  &-item {
    margin-left: 64px;
    @include mobile-larger {
      margin-left: 0px;
      width: 50%;
      padding: 12px 0;
    }
    @include mobile {
      border: 1px solid $light;
    }
  }
}
