/*component*/
.square {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  &-dark {
    background-color: #5f3e2d;
    margin-right: 8px;
  }
  &-light {
    background-color: #b75929;
  }
}

.category-product {
  margin-top: 80px;
  margin-bottom: 80px;
  @include mobile {
    margin-top: 40px;
    margin-bottom: 64px;
  }
  h2 {
    font-size: 2.625rem;
    text-align: center;
    @include mobile {
      font-size: 2rem;
    }
  }
  p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 32px;
    @include mobile {
      margin-bottom: 24px;
    }
  }
}

.category-menu {
  font-style: italic;
  font-weight: 900;
  color: $primary;
  font-size: 3rem;
  text-align: center;
  &-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include pad {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &-list li {
    width: 33.3333%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border: 1px solid #dcdcdc;
    @include mobile-larger {
      width: 100%;
    }
  }
  &-list a {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    @include mobile-larger {
      font-size: 1.5rem;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @include mobile {
      font-size: 1rem;
    }
  }
}

.category-img {
  display: flex;

  &-list {
    display: flex;
  }
  &-list li {
    width: 100%;
  }
}

.category-product {
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 24px);
    margin-bottom: 80px;

    @include pad {
      width: calc(50% - 12px);
      margin-bottom: 40px;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 24px;
    }
  }
  &-desc {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
  &-desc span {
    color: $primary;
  }

  &-color {
    display: flex;
    justify-content: flex-start;
  }
}
