/*banner*/
.banner {
  /*background-image: url("https://i.imgur.com/g5y7bWC.png");*/
  background-image: url(/assets/images/home-header.png);
  background-size: cover;
  height: calc(100vh - 80px);
  color: $secondary;
  &-lead {
    text-align: right;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
  }
  &-lead h1 {
    font-size: 2.25rem;
    @include mobile {
      font-size: 1rem;
    }
  }
  &-lead h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 4px;
    @include mobile {
      font-size: 1.5rem;
      margin-bottom: 4px;
    }
  }
  &-btn {
    background: $primary;
    color: $light;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    padding: 6px 12px;
    font-size: 1.25rem;
  }
}

/*feature*/
.feature {
  text-align: center;
  background: #fbf2f2;
  padding: 80px 0;
  @include mobile {
    padding: 40px 0;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 32px;
    font-weight: 700;
    color: $secondary;
    @include mobile {
      font-size: 1.5rem;
    }
  }
  img {
    max-width: 84px;
    margin-bottom: 24px;
  }
  h3 {
    margin-bottom: 8px;
    font-weight: 700;
    color: $secondary;
    font-size: 1.5rem;
    @include mobile {
      font-size: 1rem;
    }
  }

  &-column {
    display: flex;
    justify-content: space-between;
    @include pad {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include mobile {
      flex-wrap: wrap;
    }
  }

  &-card {
    width: calc(25% - 18px);
    @include pad {
      width: calc(50% - 36px);
      margin-bottom: 8px;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  &-card p {
    @include pad {
      text-align: left;
    }
  }
}

/*category*/
.category {
  text-align: center;
  padding: 80px 0;
  @include mobile {
    padding: 40px 0;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 32px;
    font-weight: 700;
    color: $secondary;
  }
  img {
    display: block;
    margin-bottom: 8px;
    @include pad {
      height: 336px;
    }
    @include mobile {
      height: 100%;
    }
  }
  &-column {
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    width: 100%;
    gap: 24px;
    @include pad {
      flex-wrap: wrap;
      gap: 24px;
    }
  }

  &-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: calc(33.3333% - 16px);
    @include pad {
      width: 100%;
    }
    @include mobile {
      margin-right: 0;
    }
  }
  &-column a {
    font-size: 3rem;
    font-style: italic;
    color: $primary;
  }
}

/*brand*/
.brand {
  background-image: url("https://i.imgur.com/OEAXgCj.png");
  background-size: cover;
  height: 100%;
  text-align: center;
  color: $light;
  font-size: 3rem;
  font-weight: 900;
  @include mobile {
    height: 100%;
  }
  &-content {
    padding: 80px 0;
  }
  &-list {
    text-align: center;
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
    margin: 0 auto;
    @include pad {
      flex-wrap: wrap;
      width: calc(100% - 72px);
      margin: 0 auto;
      gap: 24px;
    }
    @include mobile {
      width: calc(100% - 28px);
    }
  }
  &-item {
    width: 50%;
    background: $light;
    @include pad {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
  }
  &-img-1 {
    background-image: url("https://i.imgur.com/MJSG8v3.png");
  }
  &-img-2 {
    background-image: url("https://i.imgur.com/ZHd5XPC.png");
  }
  a {
    padding: 8px 0;
    display: block;
    background: $light;
    color: $primary;
    font-size: 3rem;
  }
  h2 {
    margin-bottom: 48px;
    @include mobile {
      color: $light;
      font-size: 3rem;
    }
  }
  &-img {
    height: 240px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    @include pad {
      background-size: cover;
    }
  }
}

/*review*/
.review {
  text-align: center;
  background: $light;
  padding: 80px 0;
  @include mobile {
    padding: 40px 0;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 32px;
    font-weight: 700;
    color: $secondary;
  }
  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include pad {
      justify-content: space-around;
      flex-wrap: wrap;
    }
    @include mobile {
      flex-wrap: wrap;
    }
  }
  &-card {
    width: calc(25% - 18px);
    height: 100%;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    @include pad {
      width: calc(50% - 36px);
      margin-bottom: 24px;
    }
    @include mobile {
      width: 100%;
    }
  }
  &-card p {
    margin-bottom: 8px;
    font-weight: 500;
  }
  &-desc {
    padding: 16px 8px;
    height: 205px;
    justify-content: space-between;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  time {
    color: #707070;
    font-size: 0.875rem;
    display: flex;
  }
}

/*contact*/
.contact {
  background: #fbf2f2;
  padding: 80px 0;
  text-align: center;
  @include mobile {
    padding: 40px 0;
  }
  &-column {
    width: 50%;
    display: block;
    margin: 0 auto;
    @include pad {
      width: calc(100% - 192px);
    }

    @include mobile {
      width: 100%;
    }
  }

  &-column h2 {
    font-size: 3rem;
    font-weight: 700;
    color: $secondary;
  }

  &-column p {
    font-size: 1.25rem;
    margin-bottom: 48px;

    @include mobile {
      font-size: 1rem;
      margin-bottom: 24px;
      text-align: left;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  &-row {
    margin-bottom: 16px;
  }
  &-input {
    color: #c9c2c2;
  }

  &-last {
    display: flex;
    margin-bottom: 48px;
    align-items: flex-start;
    @include mobile {
      margin-bottom: 24px;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $dark;
    opacity: 1;
    background: #fbf2f2;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    display: inline-block;
  }

  input[type="submit"] {
    background-color: $primary;
    color: $light;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px;
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }

  input[type="submit"]:hover {
    background-color: $secondary;
  }

  &-col-25 {
    width: 100%;
    margin-top: 6px;
  }

  &-col-75 {
    width: 100%;
    margin-top: 6px;
  }
}
