<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>category</title>
    <link rel="stylesheet" href="../assets/scss/style.scss" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!--category-menu-->
    <div class="category-menu">
      <ul class="container category-menu-list">
        <li><a href="#">OPTICAL</a></li>
        <li><a href="#">SUNGLASSES</a></li>
        <li><a href="#">FUNCTIONAL</a></li>
      </ul>
    </div>

    <!--category-image-->
    <div class="category-img">
      <ul class="category-img-list">
        <li>
          <img src="/assets/images/product-header-1.png" alt="product header" />
        </li>
        <li>
          <img src="/assets/images/product-header-2.png" alt="product header" />
        </li>
      </ul>
    </div>

    <!--products-->
    <div class="container category-product">
      <h2 class="h2">Celluloid Combi</h2>
      <p>賽璐珞鈦金屬混合鏡框</p>
      <ul class="category-product-list">
        <li class="category-product-item">
          <img src="/assets/images/product-1.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-2.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-3.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-4.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-5.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-6.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-7.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-8.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-9.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-10.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-11.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>

        <li class="category-product-item">
          <img src="/assets/images/product-12.png" alt="products" />
          <div class="category-product-desc">
            <h3>BJ41600S</h3>
            <span>NTD3,490</span>
          </div>
          <div class="category-product-color">
            <div class="square square-dark"></div>
            <div class="square square-light"></div>
          </div>
        </li>
      </ul>
    </div>
    <%- include('./layout/pagation'); -%> <%- include('./layout/footer'); -%>
  </body>
</html>
