<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/scss/style.scss" />
  </head>

  <body>
    <%- include('./layout/header'); -%>

    <!--banner-->
    <div class="banner">
      <div class="container banner-content">
        <div class="banner-lead">
          <h1>Promise-Desert 2020 早春系列</h1>
          <h2>看得清，才能看得遠</h2>
          <p>
            <a href="#" class="banner-btn">立即購買</a>
          </p>
        </div>
      </div>
    </div>

    <!--feature-->
    <div class="feature">
      <h2>用專業的心，做專業的事</h2>
      <ul class="container feature-column">
        <li class="feature-card">
          <img src="../assets/images/home-section2-1.png" alt="feature" />
          <h3>單一價格</h3>
          <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="feature-card">
          <img src="../assets/images/home-section2-2.png" alt="feature" />
          <h3>20 分鐘即可取件</h3>
          <p>
            為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
            20 分鐘即可完成。
          </p>
        </li>
        <li class="feature-card">
          <img src="../assets/images/home-section2-3.png" alt="feature" />
          <h3>安心售後服務</h3>
          <p>
            我們提供長達 120
            天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
          </p>
        </li>
        <li class="feature-card">
          <img src="../assets/images/home-sectioin2-4.png" alt="feature" />
          <h3>關於鏡片</h3>
          <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </div>

    <!--category-->
    <div class="category">
      <h2>經典系列鏡框</h2>
      <div>
        <ul class="container category-column">
          <li class="category-list">
            <img src="../assets/images/home-section3-1.png" alt="OPTICAL" />
            <p>
              <a href="#">OPTICAL</a>
            </p>
          </li>
          <li class="category-list">
            <img src="../assets/images/home-section3-2.png" alt="SUNGLASSES" />
            <a href="#">SUNGLASSES</a>
          </li>
          <li class="category-list">
            <img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" />
            <a href="#">FUNCTIONAL</a>
          </li>
        </ul>
      </div>
    </div>

    <!--brand-->
    <div class="brand">
      <div class="container brand-content">
        <h2>聯名設計鏡框</h2>
        <ul class="brand-list">
          <li class="brand-item">
            <div class="brand-img brand-img-1"></div>
            <a href="#">DOUBLE A+</a>
          </li>

          <li class="brand-item">
            <div class="brand-img brand-img-2"></div>
            <a href="#">YOUTH</a>
          </li>
        </ul>
      </div>
    </div>

    <!--review-->
    <div class="review">
      <h2>顧客推薦</h2>
      <ul class="container review-content">
        <li class="review-card">
          <img src="../assets/images/home-section5-1.png" alt="reviewer" />
          <div class="review-desc">
            <div class=" ">
              <p>Jessy</p>
              <h3>眼鏡品質優良，下次還會想來這邊購買！</h3>
            </div>

            <time>2021/06/20</time>
          </div>
        </li>
        <li class="review-card">
          <img src="../assets/images/home-section5-2.png" alt="reviewer" />
          <div class="review-desc">
            <div class=" ">
              <p>凱倫</p>
              <h3>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</h3>
            </div>
            <time>2021/04/18</time>
          </div>
        </li>
        <li class="review-card">
          <img src="../assets/images/home-section5-3.png" alt="reviewer" />
          <div class="review-desc">
            <div class=" ">
              <p>悠悠</p>
              <h3>
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </h3>
            </div>

            <time>2020/12/25</time>
          </div>
        </li>
        <li class="review-card">
          <img src="../assets/images/home-section5-4.png" alt="reviewer" />
          <div class="review-desc">
            <div class=" ">
              <p>Kyuan</p>
              <h3>服務很好，品質沒有任何問題，非常喜歡。</h3>
            </div>

            <time>2020/10/31</time>
          </div>
        </li>
      </ul>
    </div>

    <!--contact-->
    <!--reference from https://www.w3schools.com/howto/howto_css_responsive_form.asp-->
    <div class="contact">
      <div class="container contact-column">
        <h2>聯絡我們</h2>
        <p>
          我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
        </p>
        <div>
          <form action="#" class="contact-form fs-4">
            <div class="contact-row">
              <div class="contact-col-25">
                <label for="name">姓名</label>
              </div>
              <div class="contact-col-75">
                <input
                  type="text"
                  id="name"
                  class="contact-input"
                  placeholder="陳小明"
                />
              </div>
            </div>
            <div class="contact-row">
              <div class="contact-col-25">
                <label for="phone">聯絡電話</label>
              </div>
              <div class="contact-col-75">
                <input
                  type="text"
                  id="phone"
                  class="contact-input"
                  name="phone"
                  placeholder="0912-345-678"
                />
              </div>
            </div>
            <div class="contact-row">
              <div class="contact-col-25">
                <label for="email">電子郵件</label>
              </div>
              <div class="contact-col-75">
                <input
                  type="text"
                  id="email"
                  class="contact-input"
                  name="email"
                  placeholder="example@email.com"
                />
              </div>
            </div>

            <div class="contact-row">
              <div class="contact-col-25">
                <label for="feedback">意見反應</label>
              </div>
              <div class="contact-col-75">
                <textarea
                  id="feedback"
                  name="feedback"
                  cols="30"
                  rows="10"
                  placeholder="請輸入您的意見"
                ></textarea>
              </div>
            </div>

            <div class="contact-row contact-last">
              <input
                type="checkbox"
                id="privacy"
                name="privacy"
                value="rules"
              />
              <label for="privacy"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              ><br />
            </div>

            <div class="contact-row contact-btn">
              <input type="submit" value="確認送出" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
  </body>
</html>
